{{#section 'head'}}
{{!-- <meta http-equiv="refresh" content="120" /> --}}
{{/section}}
<ul class="widget-EventList">
	{{#with data}}
		{{#each items}}
			<li class="eventItem {{../type}}">
				<div>
					<span class="tag">{{../type}}</span>
					<span class="message">{{{this}}}</span>
				</div>
			</li>
		{{/each}}
	{{/with}}
</ul>
{{#section 'scripts'}}
	<script>
		$(function () {
			if($(".widget-EventList li").size > 1) {
				function tick() {
					$('.widget-EventList li:first').fadeOut({{config.animationSpeed}}, function () {
						$('.widget-EventList li').fadeOut(0);
						$(this).appendTo($('.widget-EventList'));
						$(".widget-EventList li:first").fadeIn({{config.animationSpeed}}, function () { });
					});
				}
				setInterval(function () {
					tick();
				}, {{config.transitionSpeed}});
			}
			setTimeout(function () {
				$(".widget-EventList li:first").fadeIn({{config.animationSpeed}}, function () { });
			}, 500);
		});
	</script>
{{/section}}
