{{#section 'head'}}
{{!-- <meta http-equiv="refresh" content="120" /> --}}
{{/section}}
<ul class="widget-EventList">
	{{#with data}}
		{{!-- DUMMY ITEM --}}
		<li class="eventItem {{../type}}">
			<div>
				<span class="tag">{{../type}}</span>
				<span class="icon" style="display: none; margin-right: 0;"><img
						src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
						style="height: 48px; width: 48px; border:0; display: inline; 	vertical-align: middle;" /></span>
				<span class="message" style="display: inline"></span>
			</div>
		</li>
		{{#each items}}
			<li class="eventItem {{../type}}">
				<div>
					<span class="tag">{{../type}}</span>
					<span class="icon" style="display: none; margin-right: 0;"><img 
						src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" 
						style="height: 48px; width: 48px; border:0; display: inline; 	vertical-align: middle;" /></span>
					<span class="message" style="display: inline">{{{this}}}</span>
				</div>
			</li>
		{{/each}}
	{{/with}}
</ul>
{{#section 'scripts'}}
	<script>
		$(function () {
			if($(".widget-EventList li").length > 1) {
				$(".widget-EventList li .icon img")
					.on("error", function(err) { console.log(err); $(this).attr("src","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="; }));

				function tick() {
					$('.widget-EventList li:first').fadeOut({{config.animationSpeed}}, function () {
						$('.widget-EventList li').fadeOut(0);
						$(this).appendTo($('.widget-EventList'));
						$(".icon", this).fadeOut(0);

						$(".widget-EventList li:first").fadeIn({{config.animationSpeed}}, function () { 
							let _this = $(this);
							// show icon?
							let type = $(".tag", this).text().toLowerCase().trim();
							switch (type) {
								case "follow":
								case "recents":
									let icon = $(".icon", _this);
									if(icon) {
										let user = $(".message", _this).text().split(' ')[0];
										if(!icon.data("loaded")) {
											$.ajax({
												url: `/api/twitch/channel/${user}`,
												method: 'get',
												success: (data, status, xhr) => {
													let img = $("img", icon);
													img.attr("src", data.logo || "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" );
													icon.data("loaded");
													icon.fadeIn({{ config.animationSpeed }});
												}	
											});
										} else {
											icon.fadeIn({{ config.animationSpeed }});
										}
									}
									break;
								default:
									break;
							}
						});
					});
				}
				setInterval(function () {
					if (tick) { tick(); }
				}, {{config.transitionSpeed}});
			}
			setTimeout(function () {
				{{!-- $(".widget-EventList li:first").fadeIn({{config.animationSpeed}}, function () { }); --}}
				if(tick) { tick(); }
			}, 500);
		});
	</script>
{{/section}}
