<div class="popup-container position-{{position}} animation-{{animation}}">
	{{#each config.social.accounts}}
	<div class="popup {{@key}}-pop animate-popup">
		<div class="left">
			<span class="{{@key}}"></span>
		</div>
		<div class="right username">
			<span data-name="{{@key}}"></span>
		</div>
	</div>
	{{/each}}
</div>

{{#section 'scripts'}}
<script>
	var settings = {
		social: {
			{{#each config.social.accounts}}
			{{@key}}: "{{this.text}}",
			{{/each}}
			NONE: ""
		},

		// Gaming Popup Options
		popup: {
			delay: {{config.social.delay}},
			pauseTime: {{config.social.pause}}
		}
	};

</script>
<script src="/javascript/social.js"></script>
{{/section}}

{{#section 'head'}}
<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/social.css" type="text/css">
<link rel="stylesheet" href="/social/stylesheet/" type="text/css">
{{/section}}
