<div class="popup-container position-{{position}} animation-{{animation}}">
	{{#each accounts}}
	{{#if enabled}}
	<div class="popup {{network.name}}-pop animate-popup">
		<div class="left">
			<span class="{{network.name}}"></span>
		</div>
		<div class="right username">
			<span data-name="{{network.name}}"></span>
		</div>
	</div>
	{{/if}}
	{{/each}}
</div>

{{#section 'scripts'}}
<script>
var settings = {
	social: {
		{{#each accounts}}
		{{#if enabled}}
			"{{network.name}}": "{{this.name}}",
		{{/if}}
		{{/each}}
	},

	// Gaming Popup Options
	popup: {
		{{#each config}}
		{{key}}: {{value}},
		{{/each}}
	}
};

</script>
<script src="/javascript/social.js"></script> {{/section}} {{#section 'head'}}
<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/social.css" type="text/css">
<link rel="stylesheet" href="/social/stylesheet/" type="text/css"> {{/section}}
